body {
    font-family: Arial, sans-serif;
    background-color: #FEFCF3;
    margin: 0;
    padding: 0;
  }

header nav {
    background-color: #F5EBE0;
    padding: 10px;
}
  
#personalInfoDiv{
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/*Shipping info block style */
#shippingformDiv {
  background-color: #F5EBE0;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

  #shippingInfoForm {
    margin-left: 10px;
  }
  
  /*Styling for form input labels*/
  label {
    text-align: center;
  }
  
  /* Form input style*/
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"] {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }
  
  /*Billing information block */
  #billinginfo {
    background-color: #F5EBE0;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the credit card form inputs */
  #creditDiv input[type="text"],
  #creditDiv input[type="number"] {
    width: 30%;
    margin-right: 10px;
  }
  
  /* Submit and reset buttons */
  #infoBtn button {
    background-color: #DBA39A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #infoBtn button:hover {
    background-color: #f0bdbd;
  }

  #infoBtn p {
    font-style: italic;
  }

#checkoutTable {
  border-collapse: collapse;
}

#checkoutTable input[type="number"] {
width: 40px;
}

#checkoutTable label {
display: block;
}

#checkoutTable th {
text-align: left;
padding: 10px;
background-color: #F5EBE0;
}

#checkoutTable td {
padding: 5px;
vertical-align: middle;
}

#checkoutTable tfoot td {
font-weight: bold;
text-align: right;
}

figcaption {
  display: flex;
  justify-content: center;
}

#checkoutTable tbody tr td:first-child {
  border-width: 1px 0px;
}

#checkoutTable tbody tr td:nth-child(2) {
  border-width: 1px 0 0 0;
}

#checkoutTable tbody tr td:nth-child(3) {
  border-width: 1px 0px;
}

#checkoutTable tbody tr td:nth-child(4) {
  border-width: 1px 0px;
}

/* Update and reset cart buttons */
#divBtn button {
  background-color: #DBA39A;
  color: #fff;
  border: none;
  padding: 10px 20px;
    margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

#divBtn, #infoBtn {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.priceCol {
display: flex;
align-items: center;
}

#subtotalDiv,
#taxDiv,
#totalDiv,
#subtotalDiv1,
#subtotalDiv2,
#subtotalDiv3,
#subtotalDiv4,
#subtotalDiv5,
#subtotalDiv6 {
display: flex;
justify-content: center;
}

#cartSection img {
display: block;
margin: 0 auto;
}

.error {
  border-color: red;
  background-color: #fdd;
}