main {
    display: flex;
}
#toyMain {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}
#toyForm{
    display: flex;
    width: 50%;
    flex-direction: column;
}

fieldset {
    width: 10%;
    display: flex;
}

.b {
    display: flex;
    justify-content: center;
    width: 75%;
}